# Scraping
scrapy
requests
beautifulsoup4
lxml
fake-useragent

# Stockage & Base de données
minio
psycopg2-binary
SQLAlchemy

# Traitement de données & RGPD
pandas
numpy
pillow
cryptography

# Reporting & Exports
openpyxl
xlsxwriter

# Utilitaires
python-dotenv
tenacity
structlog
tqdm

# Tests
pytest